
.nonin-logo{
    padding-top: 6px;
    display: block ;    
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    aspect-ratio: 4.5;
    max-width: 450px;
    
}

.nonin-white-text-logo{
    width: 63%;
    max-width: 390px;
    display: block ;    
    margin-left: auto;
    margin-right: auto;
}