.container-setting-panel {
    width: 100%;
    height: 100%;
}

.div-btn {
    width: 15%;
    margin-top: 3%;
    margin-left: 2%;

}

.div-input-area {
    margin-left: 0.1%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 25%;
    transform: translateY(100%);
    /* Initially hidden */
    /* Collapse to zero height */
    max-width: 577px;
    transition: all 0.4s ease-in-out;
    /* Apply transition to transform property */

}
.visible {
    transition: all 0.4s ease-in-out;
    transform: translateY(0%);
    height: 25%;
    width: 100%; /* Expand to content height */
  }