.input-area{
    position: absolute;
    display: grid;
    grid-template-rows: 25% 25%  25%;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2%;
    bottom: 0%;
    width: 100%;
    height: calc(100% - 5px);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 0px -5px #595959;
    overflow: hidden;
    background-color: #353535;

}

.touchbar-div{
    /* background-color: tomato; */
    grid-row: 1;
    grid-column: 2 ;
    margin-top: 4%;
}

.input-saturation{
    /* background-color: yellow; */
    grid-row: 2;
    grid-column: 2 /  span 2;
    
}

.input-co2{
    /* background-color: violet; */
    padding-bottom: 10%;
    grid-row: 3;
    grid-column: 2 /  span 2;
}

